{%- extends 'base.html' -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="groupchat-info-text" style="text-align: center">
				<div class="groupchat-info" style="padding-bottom: 20px" align="center">
					<h2 class="section-caption" id="remove-confirmation-h2">Remove {{ email }} from group chat "{{ name }}"?</h2>
				</div>
				<p>
					If you proceed with removing {{ email }}, then they won't be able to see who's in the group chat or message anyone in it. You or other owners and administrators can re-invite this person back in at any time.
				</p>
				<form action="/groupchats/{{ chat_id }}/remove/{{ uuid }}" method="post">
					<input class="btn" type="submit" value="Remove member" />
				</form>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
{%- endblock -%}