{%- extends 'base.html' -%}

{%- block head_end -%}
	<link rel="stylesheet" href="/static/style/account.css"/>
	<link rel="stylesheet" href="/static/style/login.css"/>
{%- endblock -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section account">
			<div class="col span1-5 nav">
				<div class="account-nav-links">
					<h2>Options</h2>
					<ul>
						<li><a href="/account">Account Info</a></li>
						<br/>
						<li>Change Password</li>
						<br/>
						<li><a href="/account/puid">PUID</a></li>
					</ul>
				</div>
			</div>
			<div class="col span4-5 account-content section-default">
				{% if errors or changed %}
					<div id="notif-account">
						{% if errors %}
							<div class="errors-warn">
								<div id="errors">
									{% if errors['password'] and errors['password'] == 'incorrect' %}
										Current password specified is incorrect.
									{% elif errors['password1'] %}
										{{ errors['password1'] }}
									{% elif errors['password2'] %}
										{{ errors['password2'] }}
									{% endif %}
								</div>
							</div>
						{% elif changed %}
							<div class="no-errors">
								Password changed!
							</div>
						{% endif %}
					</div>
				{% endif %}
				<div class="account-info">
					<h1>Change Password</h1>
					<p>
						Change the password on your Escargot account. This will also affect the passwords on any insecure frontends you're on. However, this won't log you out on any frontends or affect valid authentication tokens.
					</p>
					<div class="change-password-form">
						<form class="account-form" action="/account/change-password" method="post">
							<label for="password">Current Password (6+ chars):</label>
							<br/>
							<input class="field" type="password" id="oldpassword" name="oldpassword" required onkeyup="verifyPasswords();" pattern=".{6,}"/>
							<br/><br/>
							<label for="password">New Password (6+ chars):</label>
							<br/>
							<input class="field" type="password" id="password1" name="password1" required onkeyup="verifyPasswords();" pattern=".{6,}"/>
							<br/><br/>
							<label for="password">New Password (again):</label>
							<br/>
							<input class="field" type="password" id="password2" name="password2" required onkeyup="verifyPasswords();" pattern=".{6,}"/>
							<br/><br/>
							<button type="submit" id="submitPassword" class="btn" disabled>
								Update
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<script>
		function verifyPasswords() {
			var oldPass = document.getElementById('oldpassword').value;
			var pass1 = document.getElementById('password1').value;
			var pass2 = document.getElementById('password2').value;
			
			if (oldPass.length >= 6 && pass1.length >= 6 && pass2.length >= 6) {
				document.getElementById('submitPassword').disabled = false;
				return;
			}
			
			document.getElementById('submitPassword').disabled = true;
		}
	</script>
{%- endblock -%}