{%- extends 'base.html' -%}

{%- from '_funcs.html' import icon_url, download_url, gen_client_downloads -%}

{%- block meta -%}
	<meta name="description" content="Downloads for MSN Messenger clients supported by Escargot along with related extras." />
{%- endblock -%}

{%- block head_end -%}
	<link rel="stylesheet" href="/static/style/downloads.css"/>
{%- endblock -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator-orange">
			</div>
		</div>
		<div class="group section section-downloads-client section-downloads-msn-colors" id="section-downloads-msn">
			<div class="span4-4 downloads-content">
				<div class="section-downloads-text" style="text-align: center">
					<div class="header-downloads">
						<img src="{{ icon_url('msn/14-16-lg.png') }}" width="50"/>
						<h1 class="section-caption" id="downloads-hdr">MSN Messenger - Downloads</h1>
					</div>
					<p id="downloads-p">
						Downloads for MSN Messenger clients and extras for it are here.
					</p>
					<p>
						<a href="#clients">Clients</a>
						<br/>
						<a href="#xtras">Extras</a>
					</p>
					
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator-orange content-end spin180">
			</div>
		</div>
	</div>
	
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator-orange">
			</div>
		</div>
		<div class="group section section-downloads-client section-downloads-msn-colors" id="section-downloads-msn">
			<div class="span4-4 downloads-cnt">
				<div class="downloads-content">
					<div class="downloads" id="clients">
						<div class="section-downloads-text">
							<h1>Clients</h1>
						</div>
						{{ gen_client_downloads(download, mirrored, display, 'msn') }}
					</div>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator-orange content-end spin180">
			</div>
		</div>
	</div>
	
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator-orange">
			</div>
		</div>
		<div class="group section xtras" id="section-downloads-msn">
			<div class="span4-4 downloads-cnt">
				<div class="downloads-content">
					<div class="downloads" id="xtras">
						<div class="section-downloads-text">
							<h1>Extras</h1>
						</div>
						<div class="downloads-xtras">
							<div class="download-xtra" id="xtra-msgplus">
								<img src="/static/msgplus5.png" width="150"/>
								<div class="download-xtra text">
									<h3><a href="#xtra-msgplus">Messenger Plus! 5.02</a></h3>
									<p>
										Makes MSN more fun! (WLM 2009 & up). Also installs sound server patches.
										<br/><br/><br/>
										<em>Currently does not support online chat logging.</em>
									</p>
									<p class="download-xtra author">
										by Yuna Software
									</p>
									<a href="{{ download_url('msgplus/MsgPlus-5.02.712.exe', mirrored) }}">Download</a>
								</div>
							</div>
							
							<div class="download-xtra" id="xtra-msgplus-archive">
								<img src="/static/nina.png" width="150"/>
								<div class="download-xtra text">
									<h3><a href="#xtra-msgplus-archive">Messenger Plus! content archive (scripts/skins/plugins)</a></h3>
									<p>
										Archive of all user-submitted Messenger Plus! content, including scripts/plugins and skins, that were once hosted on msgpluslive.net. Thanks to the remains of the MsgHelp community and our friends over at the <a href="https://wiki.nina.bz" target="_blank">NINA project</a>, this content now has another home and lives to see another day.
									</p>
									<a href="https://wiki.nina.bz/wiki/Clients/Windows_Live_Messenger/Messenger_Plus!" target="_blank">Visit</a>
								</div>
							</div>
							
							<div class="download-xtra" id="xtra-msgplus4">
								<img src="/static/msgpluslive.png" width="150"/>
								<div class="download-xtra text">
									<h3><a href="#xtra-msgplus4">Messenger Plus! 4.83 (Plus! Live)</a></h3>
									<p>
										Makes MSN more fun! (WLM 8.1 - 2009). Also installs sound server patches.
									</p>
									<p class="download-xtra author">
										by Patchou/Yuna Software
									</p>
									<a href="{{ download_url('msgplus/MsgPlus-4.83.374.exe', mirrored) }}">Download</a>
								</div>
							</div>
							
							<div class="download-xtra" id="xtra-msgplus3">
								<img src="/static/msgplus.png" width="150"/>
								<div class="download-xtra text">
									<h3><a href="#xtra-msgplus3">Messenger Plus! 3.63</a></h3>
									<p>
										Makes MSN more fun! (MSN 4.6 - 7.5). Also installs sound server patches.
									</p>
									<p class="download-xtra author">
										by Patchou
									</p>
									<a href="{{ download_url('msgplus/MsgPlus-3.63.148.exe', mirrored) }}">Download</a>
								</div>
							</div>
							
							<div class="download-xtra" id="xtra-tabupgrade">
								<img src="/static/wlm-logo.png" width="150"/>
								<div class="download-xtra text">
									<h3><a href="#xtra-tabupgrade">MSN Messenger content tab upgrade</a></h3>
									<p>
										Simple registry patch that forces MSN Messenger to render pages on content tabs with GPU acceleration and the latest Internet Explorer rendering engine as installed on the system to better load modern pages (note this affects other parts of MSN Messenger that rely on loading web content for the end user; there's no way we could single it out to content tabs only).
										<br/><br/>
										<em>Download is a .reg file.</em>
									</p>
									<p class="download-xtra author">
										by Jonathan Kay
									</p>
									<a href="https://storage.log1p.xyz/msntabupgrade.reg">Download</a>
								</div>
							</div>
							
							<div class="download-xtra" id="xtra-polygamy">
								<img src="/static/polygamy.png" width="150"/>
								<div class="download-xtra text">
									<h3><a href="#xtra-polygamy">MSN Polygamy</a></h3>
									<p>
										Lets you open multiple MSN Messenger processes at the same time
									</p>
									<p class="download-xtra author">
										by IMMonitor
									</p>
									<a href="{{ download_url('misc/MSN_Polygamy.exe', mirrored) }}">Download</a>
								</div>
							</div>
							
							<div class="download-xtra" id="xtra-emot-creator">
								<img src="/static/emot-creator.png" width="150"/>
								<div class="download-xtra text">
									<h3><a href="#xtra-emot-creator">Emoticon Creator</a></h3>
									<p>
										Make custom emoticons easily
									</p>
									<p class="download-xtra author">
										by Old_Bill
									</p>
									<a href="{{ download_url('misc/EmoticonCreator-Installer.exe', mirrored) }}">Download</a>
								</div>
							</div>
							
							<div class="download-xtra" id="xtra-msn-archive">
								<img src="/static/archive.png" width="150"/>
								<div class="download-xtra text">
									<h3><a href="#xtra-msn-archive">MSN Messenger client archive</a></h3>
									<p>
										Archive of all MSN Messenger client installers. Useful for testing unsupported MSN Messenger versions or patching supported versions not listed in our clients section.
									</p>
									<p class="download-xtra author">
										by enhanox
									</p>
									<a href="https://archive.org/details/MsnMessengerClients2" target="_blank">Visit</a>
								</div>
							</div>
							
							<div id="xtra-stuffplug">
								<div class="download-xtra" id="xtra-stuffplug-3">
									<img src="/static/stuffplug.png" width="150"/>
									<div class="download-xtra text">
										<h3><a href="#xtra-stuffplug-3">StuffPlug 3.0 (Beta)</a></h3>
										<p>
											Adds features to MSN Messenger
										</p>
										<p class="download-xtra author">
											by Unknown
										</p>
										<a href="{{ download_url('misc/stuffplug-3.0.387-beta.exe', mirrored) }}">Download</a>
									</div>
								</div>
								
								<div class="download-xtra" id="xtra-stuffplug-3-5">
									<img src="/static/stuffplug.png" width="150"/>
									<div class="download-xtra text">
										<h3><a href="#xtra-stuffplug-3-5">StuffPlug 3.5</a></h3>
										<p>
											Adds features to MSN Messenger
										</p>
										<p class="download-xtra author">
											by Unknown
										</p>
										<a href="{{ download_url('misc/stuffplug-ng-3.5.590.exe', mirrored) }}">Download</a>
									</div>
								</div>
							</div>
							
							<div class="download-xtra" id="xtra-rich-presence">
								<img src="/static/rich-presence.png" width="150"/>
								<div class="download-xtra text">
									<h3><a href="#xtra-rich-presence">Messenger Rich Presence</a></h3>
									<p>
										Adds basic information about your IM account from Messenger to Discord over the Rich Presence feature.
										<br/><br/>
										<em>Download is a .zip file.</em>
									</p>
									<p class="download-xtra author">
										by <a href="https://craftplacer.github.io" target="_blank">Craftplacer</a>
									</p>
									<a href="{{ download_url('misc/RichPresence.zip', mirrored) }}">Download</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator-orange content-end spin180">
			</div>
		</div>
	</div>
	
	<style>
		.xtras a {
			color: #082d9a;
			text-decoration: underline;
		}
	</style>
{%- endblock -%}
