{%- extends 'base.html' -%}

{%- block head_end -%}
	{%- if msntoday -%}
		<script type="text/javascript">
			function preventDefaultFallback() {
				if (window.event.preventDefault) {
					window.event.preventDefault();
				} else {
					window.event.returnValue = false;
				}
			}
			
			function NavPage(){
				var tmp, e, srcE, url;
				srcE = window.event.srcElement;
				if (srcE != null){
					tmp = srcE.tagName;
					while(tmp != "BODY"){
						if (tmp == "A"){
							e = srcE;
							break;
						}else{
							srcE = srcE.parentElement;
							tmp = srcE.tagName;	
						}
					}	
					if(e != null){
						url = e.href;
						if(url.indexOf("javascript:") == -1){
							window.open(url,'msnt');
							preventDefaultFallback();
						}else{
							eval(url.substring(11,url.length));
							preventDefaultFallback();
						}
					}
				}
			}
			{%- if msn -%}
			function OpenWA(TargetURL, SiteID){ 
				var bNoAuth = true; 
				var p,e; 
				e = window.external;
				
				if (e != null){ 
					p = e.MsgrHost; 
					if (p != null){
						p.OpenWithAuth(TargetURL, SiteID); 
						bNoAuth = false; 
					} 
				} 
				if (bNoAuth){
					window.open(TargetURL,'msnt');
				} 
			}
			
			function ShowMSNToday(popInFront){ 
				var p,e; 
				e = window.external;
				if (e != null){ 
					p = e.MsgrHost; 
					if (p != null){ 
						p.ShowMessengerHostWnd(popInFront); 
					} 
				}
			}
			var intSiteID = 6528;
			{%- endif -%}
			{%- if wlm -%}
			window.onerror=function(){return true};
			try{
				if(window.location.search.indexOf('nopop=true')==-1){window.external.MsgrHost.ShowMessengerHostWnd(0)}
			}catch(e){}
			{%- endif -%}
		</script>
	{%- endif -%}
{%- endblock -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-content section-default section-news" id="news">
			<div class="news header" align="center">
				<h1>
					Escargot Today
					<a href="/news/rss">
						<img src="/static/rss.png" />
					</a>
				</h1>
				<h3>The latest news from Escargot Land.</h3>
			</div>
			
			<div style="position: relative; margin-left: 10%; margin-right: 10%">
{{ entries }}
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<style>
		#news {
			padding-bottom: 1.5em
		}
	</style>
{%- endblock -%}
